#footer-home {
    display: flex;
    align-items: stretch;
    flex-direction: column-reverse;
    .footer1 {
        display: flex;
        color: white;
      }
      .footer2 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: orange;
        text-shadow: 1px 1px 2px grey;
      }
    .logos {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: row;
        opacity: 0.8;
      }
 }