#header-home {
    height: 45vh;
    display:flex;
    .titulo {
      display:flex;
      color: map-get($colores, font-color3);
      justify-content: flex-start;
      text-shadow: 1px 1px 2px map-get($colores, font-color1);
      }
      .lista {
        display:flex;
        justify-content: center;
        font-family: map-get($colores, font-color2);
        font-size: 20px;
      }
  }

