#main-home {
    display: flex;
    justify-content: center;
    height: 42vh;
    .texto-main{
    display:flex; 
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        color: map-get($colores, font-color3);
        font-size: 40px;
        font-family: map-get($fonts, font-2);
        text-shadow: 1px 1px 2px map-get($colores, font-color1);
      }
      #texto-main2 {
        display:flex;
        color: map-get($colores, font-color2);
        display: flex;
        justify-content: center;
        font-size: 25px;
      }
  }