$colores: (
    font-color1: rgb(0, 0, 0),
    font-color2: rgb(255,255,255),
    font-color3: rgb(255, 165, 0),
    font-color4: rgb(250, 235, 215),
    font-color5: rgba(0, 0, 0, 0.2)
);

$fonts:(
font-1: "cincel decorative",
font-2: "Overpass", sans-serif
);